@import "bulma/css/bulma.css";
#map {
    height: 20rem; /* The height is 400 pixels */
    width: 40rem; /* The width is the width of the web page */
}
.padextra
{
    padding-left: 10rem;
    padding-right: 10rem;
}
.padtiny
{
    padding-left:2rem;
    padding-right:2rem;
}